

ol {
    counter-reset: item;
    padding-left: 30px;
}

li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

.toc {
display: table;
padding: 7px;
border: 1px solid #a2a9b1;
background-color: #f8f9fa;
padding: 5px;
font-size: 95%;
}